.user_modal {
    width: 500px;
}

.user_modal div div {
    margin-bottom: 20px;
    align-items: center;
}

.user_modal div div:last-child {
    margin-bottom: 0;
}

.user_modal div div select {
    height: 40px;
    padding: 5px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}
